In [2]:
import pandas as pd
import numpy as np

filepath = "/Users/bregy/Downloads/Trabajadores.csv"
pd.read_csv(filepath)

     1      Gary Dicarlo  3569  33  3  3.1      No turno noche  1.1
0    2     Eugene Phifer  2329  22  1    1      No turno noche    4
1    3   William Walters  1775  17  0    1      No turno noche    4
2    4     Mark Gerhardt  2054  19  0    2  No fines de semana    3
3    5       James Oshea  1760  16  2    1  No fines de semana    2
4    6       Mark Nooner  2032  19  0    3     No turno mañana    4
..  ..               ...   ...  .. ..  ...                 ...  ...
93  95      Thomas Caron  1805  17  3    0  No primeros turnos    4
94  96  Angela Alexander  1798  17  1    1  No fines de semana    4
95  97  Antonio Stanford  1412  13  0    1  No fines de semana    5
96  98        Jean Harsh  3222  30  3    2   No últimos turnos    2
97  99      Timothy Dean  2325  22  0    2   No últimos turnos    3

[98 rows x 8 columns]

In [3]:
_["No turno noche"].value_counts()

No fines de semana    28
No últimos turnos     26
No turno noche        16
No primeros turnos    16
No turno mañana       12
Name: No turno noche, dtype: int64